* {
    text-align: center;
    /* border: 1px solid black; */

}
header {
    margin-top: 50px;
    align-items: center;
}
.head {
    border: 8px solid black;
    font-size: 60px;
    display: inline-block;
    width: 200px;
    height: 70px;
    font-weight: 1000;
    line-height: 70px;
    vertical-align: middle;
}
nav {
    margin-top: 60px;
    height: ;
}
section {
    margin-top: ;
}
a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;

}
a:hover {
    font-size: 25px;
}
.now {
    font-weight: bold;
}
img {
    width: 35%;
    height: 500px;
    margin-top: 40px;
}